html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1024px;
	min-height: 3999.935208333468px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -25px;
	margin-bottom: 62px;
}

#pinicio
{
	width: 0.01px;
	left: -2px;
	position: relative;
}

#inicio
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
}

#u1172
{
	z-index: 485;
	width: 1753px;
	height: 111px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	position: fixed;
	top: -17px;
	left: 50%;
	margin-left: -885px;
}

#u1161
{
	z-index: 486;
	width: 229px;
	position: fixed;
	top: 5px;
	left: 50%;
	margin-left: -521px;
}

#u1181
{
	z-index: 508;
	width: 44px;
	position: fixed;
	top: 29px;
	left: 50%;
	margin-left: 329px;
}

#u1187
{
	z-index: 510;
	width: 44px;
	position: fixed;
	top: 29px;
	left: 50%;
	margin-left: 411px;
}

#u1168-4
{
	z-index: 504;
	width: 63px;
	min-height: 19px;
	color: #5E9B16;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: fixed;
	top: 47px;
	left: 50%;
	margin-left: 185px;
}

#u1167-4
{
	z-index: 500;
	width: 71px;
	min-height: 19px;
	color: #5E9B16;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: fixed;
	top: 47px;
	left: 50%;
	margin-left: 77px;
}

#u1166-4
{
	z-index: 496;
	width: 80px;
	min-height: 19px;
	color: #5E9B16;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: fixed;
	top: 47px;
	left: 50%;
	margin-left: -31px;
}

#u1165-4
{
	z-index: 492;
	width: 53px;
	min-height: 19px;
	color: #5E9B16;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: fixed;
	top: 47px;
	left: 50%;
	margin-left: -121px;
}

#u1164-4
{
	z-index: 488;
	width: 96px;
	min-height: 19px;
	color: #5E9B16;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: fixed;
	top: 47px;
	left: 50%;
	margin-left: -250px;
}

#ppu198-4
{
	width: 0.01px;
	margin-left: 79px;
	margin-top: 103px;
	position: relative;
}

#pu198-4
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#u198-4
{
	z-index: 6;
	width: 320px;
	min-height: 19px;
	color: #497E34;
	letter-spacing: 1px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
}

#u193
{
	z-index: 5;
	width: 640px;
	min-height: 393px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 26px;
	position: relative;
}

#u1180-4
{
	z-index: 366;
	width: 640px;
	min-height: 40px;
	color: #6FB120;
	letter-spacing: 1px;
	text-align: justify;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	margin-top: 43px;
	position: relative;
}

#u1213-41
{
	z-index: 372;
	width: 199px;
	min-height: 496px;
	color: #5E9B16;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 724px;
}

#u199
{
	z-index: 2;
	width: 1224px;
	padding-bottom: 17px;
	left: -100px;
	margin-top: 31px;
}

#alojamiento
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 514px;
	left: 98px;
}

#pu206-4
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 23px;
	left: 120px;
}

#u206-4
{
	z-index: 58;
	width: 289px;
	min-height: 21px;
	color: #FFFFFF;
	font-size: 24px;
	letter-spacing: 1px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
}

#u204-38
{
	z-index: 10;
	width: 736px;
	min-height: 512px;
	margin-top: 17px;
	position: relative;
}

#u204-2,#u204-3,#u204-5,#u204-6,#u204-8,#u204-9,#u204-11,#u204-12,#u204-14,#u204-15,#u204-17,#u204-18,#u204-20,#u204-21,#u204-23,#u204-24,#u204-26,#u204-27,#u204-29,#u204-30,#u204-32,#u204-33,#u204-35
{
	font-size: 12px;
	text-align: justify;
	color: #FFFFFF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u205-10
{
	z-index: 48;
	width: 199px;
	min-height: 341px;
	color: #FFFFFF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 69px;
	left: 903px;
}

#pu299
{
	width: 0.01px;
	margin-left: 19px;
	margin-top: 14px;
	position: relative;
}

#u299
{
	z-index: 163;
	width: 271px;
	min-height: 148px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 805px;
}

#u316
{
	z-index: 166;
	width: 169px;
	position: relative;
	margin-right: -10000px;
	margin-top: 141px;
	left: 797px;
}

#slideshowu338
{
	z-index: 170;
	width: 0.01px;
	height: 530px;
	position: relative;
	margin-right: -10000px;
	margin-top: 40px;
}

#u379
{
	position: absolute;
	z-index: 171;
	width: 728px;
	height: 397px;
	background-color: transparent;
	left: 14px;
}

#u631
{
	z-index: 172;
	width: 728px;
	height: 397px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u469
{
	z-index: 174;
	width: 728px;
	height: 397px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u484
{
	z-index: 176;
	width: 728px;
	height: 397px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u691
{
	z-index: 178;
	width: 728px;
	height: 397px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u503
{
	z-index: 180;
	width: 728px;
	height: 397px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u518
{
	z-index: 182;
	width: 728px;
	height: 397px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u537
{
	z-index: 184;
	width: 728px;
	height: 397px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u556
{
	z-index: 186;
	width: 728px;
	height: 397px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u571
{
	z-index: 188;
	width: 728px;
	height: 397px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u586
{
	z-index: 190;
	width: 728px;
	height: 397px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u601
{
	z-index: 192;
	width: 728px;
	height: 397px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u646
{
	z-index: 194;
	width: 728px;
	height: 397px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u616
{
	z-index: 196;
	width: 728px;
	height: 397px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u631_img,#u469_img,#u484_img,#u503_img,#u518_img,#u537_img,#u556_img,#u571_img,#u586_img,#u601_img,#u646_img,#u616_img
{
	padding-top: 1px;
	padding-bottom: 1px;
	vertical-align: top;
}

#u676
{
	z-index: 198;
	width: 728px;
	height: 397px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u342
{
	position: absolute;
	z-index: 200;
	width: 760px;
	top: 430px;
}

#u634
{
	z-index: 201;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u634:hover
{
	border-color: #000000;
	margin: 0px -10000px 0px 0px;
}

#u472
{
	z-index: 203;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 70px;
}

#u472:hover
{
	border-color: #000000;
	margin: 0px -10000px 0px 0px;
}

#u487
{
	z-index: 205;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 140px;
}

#u487:hover
{
	border-color: #000000;
	margin: 0px -10000px 0px 0px;
}

#u694
{
	z-index: 207;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 210px;
}

#u694:hover
{
	border-color: #000000;
	margin: 0px -10000px 0px 0px;
}

#u506
{
	z-index: 209;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 280px;
}

#u506:hover
{
	border-color: #000000;
	margin: 0px -10000px 0px 0px;
}

#u521
{
	z-index: 211;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 350px;
}

#u521:hover
{
	border-color: #000000;
	margin: 0px -10000px 0px 0px;
}

#u540
{
	z-index: 213;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 420px;
}

#u540:hover
{
	border-color: #000000;
	margin: 0px -10000px 0px 0px;
}

#u559
{
	z-index: 215;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 490px;
}

#u559:hover
{
	border-color: #000000;
	margin: 0px -10000px 0px 0px;
}

#u574
{
	z-index: 217;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 560px;
}

#u574:hover
{
	border-color: #000000;
	margin: 0px -10000px 0px 0px;
}

#u589
{
	z-index: 219;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 630px;
}

#u589:hover
{
	border-color: #000000;
	margin: 0px -10000px 0px 0px;
}

#u604
{
	z-index: 221;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 700px;
}

#u604:hover
{
	border-color: #000000;
	margin: 0px -10000px 0px 0px;
}

#u649
{
	z-index: 223;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
}

#u649:hover
{
	border-color: #000000;
	margin: 55px -10000px 0px 0px;
}

#u619
{
	z-index: 225;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 70px;
}

#u619:hover
{
	border-color: #000000;
	margin: 55px -10000px 0px 0px;
}

#u679
{
	z-index: 227;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 140px;
}

#u679:hover
{
	border-color: #000000;
	margin: 55px -10000px 0px 0px;
}

#u634_img,#u472_img,#u487_img,#u694_img,#u506_img,#u521_img,#u540_img,#u559_img,#u574_img,#u589_img,#u604_img,#u649_img,#u619_img,#u679_img
{
	margin-left: -11px;
	margin-right: -11px;
}

#u350
{
	position: absolute;
	z-index: 229;
	width: 471px;
	top: 401px;
	left: 14px;
}

#u637-4
{
	z-index: 230;
	width: 471px;
	min-height: 21px;
	background-color: transparent;
	line-height: 1.4;
	color: #6FB120;
	letter-spacing: 1px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	margin-right: -10000px;
	position: relative;
}

#u475-4
{
	z-index: 234;
	width: 471px;
	min-height: 21px;
	background-color: transparent;
	line-height: 1.4;
	color: #6FB120;
	letter-spacing: 1px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	margin-right: -10000px;
	position: relative;
}

#u490-4
{
	z-index: 238;
	width: 471px;
	min-height: 21px;
	background-color: transparent;
	line-height: 1.4;
	color: #6FB120;
	letter-spacing: 1px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	margin-right: -10000px;
	position: relative;
}

#u697-4
{
	z-index: 242;
	width: 471px;
	min-height: 21px;
	background-color: transparent;
	line-height: 1.4;
	color: #6FB120;
	letter-spacing: 1px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	margin-right: -10000px;
	position: relative;
}

#u509-4
{
	z-index: 246;
	width: 471px;
	min-height: 21px;
	background-color: transparent;
	line-height: 1.4;
	color: #6FB120;
	letter-spacing: 1px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	margin-right: -10000px;
	position: relative;
}

#u524-4
{
	z-index: 250;
	width: 471px;
	min-height: 21px;
	background-color: transparent;
	line-height: 1.4;
	color: #6FB120;
	letter-spacing: 1px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	margin-right: -10000px;
	position: relative;
}

#u543-4
{
	z-index: 254;
	width: 471px;
	min-height: 21px;
	background-color: transparent;
	line-height: 1.4;
	color: #6FB120;
	letter-spacing: 1px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	margin-right: -10000px;
	position: relative;
}

#u562-4
{
	z-index: 258;
	width: 471px;
	min-height: 21px;
	background-color: transparent;
	line-height: 1.4;
	color: #6FB120;
	letter-spacing: 1px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	margin-right: -10000px;
	position: relative;
}

#u577-4
{
	z-index: 262;
	width: 471px;
	min-height: 21px;
	background-color: transparent;
	line-height: 1.4;
	color: #6FB120;
	letter-spacing: 1px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	margin-right: -10000px;
	position: relative;
}

#u592-4
{
	z-index: 266;
	width: 471px;
	min-height: 21px;
	background-color: transparent;
	line-height: 1.4;
	color: #6FB120;
	letter-spacing: 1px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	margin-right: -10000px;
	position: relative;
}

#u607-4
{
	z-index: 270;
	width: 471px;
	min-height: 21px;
	background-color: transparent;
	line-height: 1.4;
	color: #6FB120;
	letter-spacing: 1px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	margin-right: -10000px;
	position: relative;
}

#u652-4
{
	z-index: 274;
	width: 471px;
	min-height: 21px;
	background-color: transparent;
	line-height: 1.4;
	color: #6FB120;
	letter-spacing: 1px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	margin-right: -10000px;
	position: relative;
}

#u622-4
{
	z-index: 278;
	width: 471px;
	min-height: 21px;
	background-color: transparent;
	line-height: 1.4;
	color: #6FB120;
	letter-spacing: 1px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	margin-right: -10000px;
	position: relative;
}

#u682-4
{
	z-index: 282;
	width: 471px;
	min-height: 21px;
	background-color: transparent;
	line-height: 1.4;
	color: #6FB120;
	letter-spacing: 1px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	margin-right: -10000px;
	position: relative;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background-image: url("../images/loading.gif");
	background-position: center center;
	background-repeat: no-repeat;
}

#u207-4
{
	z-index: 62;
	width: 166px;
	min-height: 21px;
	color: #5E9B45;
	font-size: 24px;
	letter-spacing: 1px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u311
{
	z-index: 164;
	width: 144px;
	margin-left: 828px;
	top: -338px;
	margin-bottom: -41px;
	position: relative;
}

#u321
{
	z-index: 168;
	width: 164px;
	margin-left: 821px;
	top: -269px;
	margin-bottom: -54px;
	position: relative;
}

#ptarifas
{
	width: 0.01px;
	left: -2px;
	top: -187px;
	margin-bottom: -142px;
	position: relative;
}

#tarifas
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 124px;
}

#u291
{
	z-index: 160;
	width: 105px;
	min-height: 115px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 837px;
}

#u293
{
	z-index: 161;
	width: 178px;
	min-height: 39px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 816px;
	top: -42px;
	margin-bottom: -39px;
	position: relative;
}

#u209
{
	z-index: 3;
	width: 1224px;
	padding-bottom: 39px;
	left: -100px;
	margin-top: 14px;
}

#pu210-4
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 100px;
}

#u210-4
{
	z-index: 66;
	width: 103px;
	min-height: 21px;
	color: #FFFFFF;
	font-size: 24px;
	letter-spacing: 1px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	margin-left: 20px;
	position: relative;
}

#u211
{
	z-index: 70;
	width: 737px;
	margin-left: 39px;
	margin-top: 16px;
	position: relative;
}

#pubicaion
{
	width: 0.01px;
	margin-top: 23px;
	position: relative;
}

#ubicaion
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 93px;
}

#u216-15
{
	z-index: 72;
	width: 333px;
	min-height: 92px;
	position: relative;
	margin-right: -10000px;
	left: 40px;
}

#pu216-14
{
	width: 274px;
	color: #FFFFFF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u1215-10
{
	z-index: 454;
	width: 186px;
	min-height: 92px;
	color: #FFFFFF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 34px;
	left: 147px;
}

#u219
{
	z-index: 87;
	width: 298px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.1);
	-pie-background: rgba(255, 255, 255, 0.1);
	padding-bottom: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 478px;
}

#u218-4
{
	z-index: 88;
	width: 247px;
	min-height: 84px;
	color: #FFFFFF;
	text-align: justify;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 26px;
}

#u1214-41
{
	z-index: 413;
	width: 199px;
	min-height: 496px;
	color: #FFFFFF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 63px;
	left: 900px;
}

#u1213-2,#u1213-8,#u1213-20,#u1213-26,#u1213-32,#u1214-2,#u1214-8,#u1214-20,#u1214-26,#u1214-32
{
	letter-spacing: 1px;
	font-weight: bold;
}

#u275-4
{
	z-index: 92;
	width: 166px;
	min-height: 21px;
	color: #5E9B45;
	font-size: 24px;
	letter-spacing: 1px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	margin-left: 20px;
	margin-top: 12px;
	position: relative;
}

#pservicios
{
	width: 0.01px;
	margin-top: 12px;
	position: relative;
}

#servicios
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 423px;
}

#u283
{
	z-index: 113;
	width: 695px;
	min-height: 465px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 58px;
}

#pu281-9
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	left: 797px;
}

#u281-9
{
	z-index: 104;
	width: 204px;
	min-height: 103px;
	color: #5E9B45;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-left: 3px;
	position: relative;
}

#u1216-4
{
	z-index: 464;
	width: 200px;
	color: #0000FF;
	font-size: 12px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-left: 1px;
	margin-top: 1px;
	position: relative;
}

#u1224-6
{
	z-index: 530;
	width: 200px;
	color: #5E9B45;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-left: 2px;
	margin-top: 22px;
	position: relative;
}

#u1217-4
{
	z-index: 468;
	width: 200px;
	color: #0000FF;
	font-size: 12px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
}

#u1223-6
{
	z-index: 524;
	width: 200px;
	color: #5E9B45;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-left: 1px;
	margin-top: 20px;
	position: relative;
}

#u1218-4
{
	z-index: 472;
	width: 200px;
	color: #0000FF;
	font-size: 12px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-left: 1px;
	margin-top: 1px;
	position: relative;
}

#u1222-6
{
	z-index: 518;
	width: 200px;
	color: #5E9B45;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-left: 1px;
	margin-top: 15px;
	position: relative;
}

#u1219-4
{
	z-index: 476;
	width: 200px;
	color: #0000FF;
	font-size: 12px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-left: 1px;
	margin-top: 3px;
	position: relative;
}

#u1221-6
{
	z-index: 512;
	width: 200px;
	color: #5E9B45;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-left: 1px;
	margin-top: 22px;
	position: relative;
}

#u1220-4
{
	z-index: 480;
	width: 200px;
	color: #0000FF;
	font-size: 12px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-left: 800px;
	top: -3px;
	margin-bottom: -3px;
	position: relative;
}

#u285-6
{
	z-index: 114;
	width: 689px;
	min-height: 40px;
	color: #5E9B68;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-left: 55px;
	margin-top: 8px;
	position: relative;
}

#pu274
{
	width: 0.01px;
	left: -100px;
	margin-top: 19px;
	position: relative;
}

#u274
{
	z-index: 4;
	width: 1224px;
	padding-bottom: 22px;
	margin-right: -10000px;
}

#u199_align_to_page,#u209_align_to_page,#u274_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1024px;
	left: -100px;
}

#turismo
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 558px;
	left: 98px;
}

#u286-4
{
	z-index: 120;
	width: 128px;
	min-height: 21px;
	color: #FFFFFF;
	font-size: 24px;
	letter-spacing: 1px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 120px;
}

#u287-36
{
	z-index: 124;
	width: 245px;
	min-height: 530px;
	color: #FFFFFF;
	text-align: justify;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 33px;
	left: 879px;
}

#u287-5,#u287-7,#u287-9
{
	font-weight: normal;
}

#u287-18
{
	font-size: 12px;
	font-weight: normal;
}

#u281-2,#u281-5,#u1224-2,#u1223-2,#u1222-2,#u1221-2,#u287-2,#u287-3,#u287-10,#u287-12,#u287-19,#u287-21,#u287-29
{
	font-weight: bold;
}

#u287-15,#u287-16,#u287-24,#u287-26,#u287-32
{
	font-size: 12px;
}

#slideshowu705
{
	z-index: 286;
	width: 0.01px;
	height: 524px;
	position: relative;
	margin-right: -10000px;
	margin-top: 52px;
	left: 155px;
}

#u746
{
	position: absolute;
	z-index: 287;
	width: 683px;
	height: 401px;
	background-color: transparent;
}

#u791
{
	z-index: 288;
	width: 683px;
	height: 401px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u791_img
{
	padding-top: 17px;
	padding-bottom: 17px;
	vertical-align: top;
}

#u891
{
	z-index: 290;
	width: 683px;
	height: 401px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u900
{
	z-index: 292;
	width: 683px;
	height: 401px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u900_img
{
	padding-left: 38px;
	padding-right: 38px;
	vertical-align: top;
}

#u909
{
	z-index: 294;
	width: 683px;
	height: 401px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u918
{
	z-index: 296;
	width: 683px;
	height: 401px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u927
{
	z-index: 298;
	width: 683px;
	height: 401px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u927_img
{
	padding-left: 85px;
	padding-right: 85px;
	vertical-align: top;
}

#u986
{
	z-index: 300;
	width: 683px;
	height: 401px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u995
{
	z-index: 302;
	width: 683px;
	height: 401px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1004
{
	z-index: 304;
	width: 683px;
	height: 401px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1013
{
	z-index: 306;
	width: 683px;
	height: 401px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u909_img,#u918_img,#u986_img,#u995_img,#u1004_img,#u1013_img
{
	padding-left: 39px;
	padding-right: 39px;
	vertical-align: top;
}

#u1031
{
	z-index: 308;
	width: 683px;
	height: 401px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1031_img
{
	padding-left: 42px;
	padding-right: 42px;
	vertical-align: top;
}

#u1040
{
	z-index: 310;
	width: 683px;
	height: 401px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1081
{
	z-index: 312;
	width: 683px;
	height: 401px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1090
{
	z-index: 314;
	width: 683px;
	height: 401px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1099
{
	z-index: 316;
	width: 683px;
	height: 401px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1099_img
{
	vertical-align: top;
	padding: 26px 141px 26px 142px;
}

#u1108
{
	z-index: 318;
	width: 683px;
	height: 401px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u891_img,#u1040_img,#u1081_img,#u1090_img,#u1108_img
{
	padding-left: 74px;
	padding-right: 74px;
	vertical-align: top;
}

#u1136
{
	z-index: 320;
	width: 683px;
	height: 401px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1136_img
{
	padding-left: 41px;
	padding-right: 41px;
	vertical-align: top;
}

#u709
{
	position: absolute;
	z-index: 322;
	width: 620px;
	top: 424px;
	left: 15px;
}

#u794
{
	z-index: 323;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u794:hover
{
	border-color: #000000;
	margin: 0px -10000px 0px 0px;
}

#u794_img
{
	margin-left: -12px;
	margin-right: -12px;
}

#u894
{
	z-index: 325;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 70px;
}

#u894:hover
{
	border-color: #000000;
	margin: 0px -10000px 0px 0px;
}

#u903
{
	z-index: 327;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 140px;
}

#u903:hover
{
	border-color: #000000;
	margin: 0px -10000px 0px 0px;
}

#u912
{
	z-index: 329;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 210px;
}

#u912:hover
{
	border-color: #000000;
	margin: 0px -10000px 0px 0px;
}

#u921
{
	z-index: 331;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 280px;
}

#u921:hover
{
	border-color: #000000;
	margin: 0px -10000px 0px 0px;
}

#u930
{
	z-index: 333;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 350px;
}

#u930:hover
{
	border-color: #000000;
	margin: 0px -10000px 0px 0px;
}

#u930_img
{
	margin-top: -1px;
	margin-bottom: -1px;
}

#u989
{
	z-index: 335;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 420px;
}

#u989:hover
{
	border-color: #000000;
	margin: 0px -10000px 0px 0px;
}

#u998
{
	z-index: 337;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 490px;
}

#u998:hover
{
	border-color: #000000;
	margin: 0px -10000px 0px 0px;
}

#u1007
{
	z-index: 339;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 560px;
}

#u1007:hover
{
	border-color: #000000;
	margin: 0px -10000px 0px 0px;
}

#u634.SSSlideLinkSelected,#u472.SSSlideLinkSelected,#u487.SSSlideLinkSelected,#u694.SSSlideLinkSelected,#u506.SSSlideLinkSelected,#u521.SSSlideLinkSelected,#u540.SSSlideLinkSelected,#u559.SSSlideLinkSelected,#u574.SSSlideLinkSelected,#u589.SSSlideLinkSelected,#u604.SSSlideLinkSelected,#u794.SSSlideLinkSelected,#u894.SSSlideLinkSelected,#u903.SSSlideLinkSelected,#u912.SSSlideLinkSelected,#u921.SSSlideLinkSelected,#u930.SSSlideLinkSelected,#u989.SSSlideLinkSelected,#u998.SSSlideLinkSelected,#u1007.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	margin: 0px -10000px 0px 0px;
}

#u1016
{
	z-index: 341;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
}

#u1016:hover
{
	border-color: #000000;
	margin: 55px -10000px 0px 0px;
}

#u1034
{
	z-index: 343;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 70px;
}

#u1034:hover
{
	border-color: #000000;
	margin: 55px -10000px 0px 0px;
}

#u1043
{
	z-index: 345;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 140px;
}

#u1043:hover
{
	border-color: #000000;
	margin: 55px -10000px 0px 0px;
}

#u1084
{
	z-index: 347;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 210px;
}

#u1084:hover
{
	border-color: #000000;
	margin: 55px -10000px 0px 0px;
}

#u1093
{
	z-index: 349;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 280px;
}

#u1093:hover
{
	border-color: #000000;
	margin: 55px -10000px 0px 0px;
}

#u1102
{
	z-index: 351;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 350px;
}

#u1102:hover
{
	border-color: #000000;
	margin: 55px -10000px 0px 0px;
}

#u1102_img
{
	margin-top: -4px;
	margin-bottom: -4px;
}

#u1111
{
	z-index: 353;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 420px;
}

#u1111:hover
{
	border-color: #000000;
	margin: 55px -10000px 0px 0px;
}

#u1161_img,#u1181_img,#u1187_img,#u316_img,#u691_img,#u676_img,#u311_img,#u321_img,#u211_img,#u894_img,#u1043_img,#u1084_img,#u1093_img,#u1111_img
{
	vertical-align: top;
}

#u1139
{
	z-index: 355;
	width: 60px;
	height: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 490px;
}

#u1139:hover
{
	border-color: #000000;
	margin: 55px -10000px 0px 0px;
}

#u649.SSSlideLinkSelected,#u619.SSSlideLinkSelected,#u679.SSSlideLinkSelected,#u1016.SSSlideLinkSelected,#u1034.SSSlideLinkSelected,#u1043.SSSlideLinkSelected,#u1084.SSSlideLinkSelected,#u1093.SSSlideLinkSelected,#u1102.SSSlideLinkSelected,#u1111.SSSlideLinkSelected,#u1139.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	margin: 55px -10000px 0px 0px;
}

#u634_clip,#u472_clip,#u487_clip,#u694_clip,#u506_clip,#u521_clip,#u540_clip,#u559_clip,#u574_clip,#u589_clip,#u604_clip,#u649_clip,#u619_clip,#u679_clip,#u794_clip,#u903_clip,#u912_clip,#u921_clip,#u930_clip,#u989_clip,#u998_clip,#u1007_clip,#u1016_clip,#u1034_clip,#u1102_clip,#u1139_clip
{
	overflow: hidden;
	width: 60px;
	height: 45px;
}

#u903_img,#u912_img,#u921_img,#u989_img,#u998_img,#u1007_img,#u1016_img,#u1034_img,#u1139_img
{
	margin-left: -4px;
	margin-right: -4px;
}

#ppu278-4
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 52px;
	position: relative;
}

#pu278-4
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#u278-4
{
	z-index: 100;
	width: 166px;
	min-height: 21px;
	color: #5E9B45;
	font-size: 24px;
	letter-spacing: 1px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
}

#u1146-4
{
	z-index: 357;
	width: 466px;
	min-height: 1px;
	color: #5E9B45;
	font-size: 24px;
	letter-spacing: 1px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	margin-left: 96px;
	margin-top: 119px;
	position: relative;
}

#u1205
{
	z-index: 370;
	width: 200px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 766px;
}

#u297
{
	z-index: 162;
	width: 226px;
	min-height: 385px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 798px;
	margin-top: 56px;
	position: relative;
}

#u1211
{
	z-index: 371;
	width: 200px;
	min-height: 93px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 798px;
	margin-top: 32px;
	position: relative;
}

#u276-4
{
	z-index: 96;
	width: 132px;
	min-height: 21px;
	color: #FFFFFF;
	font-size: 24px;
	letter-spacing: 1px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	margin-left: 20px;
	margin-top: 2216px;
	position: relative;
}

body
{
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

