#u199,#u209,#u274
{
	border-style: none;
	border-color: transparent;
	background-color: #6FB120;
	position: relative;
}

#u199_align_to_page,#u209_align_to_page,#u274_align_to_page
{
	position: relative;
}

